{% extends 'base.html' %}
{% load staticfiles %}

{% block pagetitle %} Home {% endblock %}

{% block content %} 

  <div class='row'>
    <div class='col-md-12'>
      <div class='col-md-6'>

        <table id="board">

          <tbody>
            {% for row in board %}
              <tr>
                {% for val in row %}
                  <td class="{{ val.css_class }}"><div class="heightFix"></div></td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>

        </table>

      </div>
      <div class='col-md-4'>

        <div id="players">
          <h3>Players</h3>
          {% for player in request.session.game.players %}    
            <div class="player" id="player-{{ forloop.counter0 }}">
                <h4>{{ player.name }}, Score: <span class="playerScore">{{ player.score }}</span></h4>
                <div class="rack">
                </div>
            </div>
          {% endfor %}
        </div>

      </div>

      <div class='col-md-2'>

        <div id="console">
          <h3>Messages</h3>
          <div class="inner">
          </div>
      </div>
          
      </div>

    </div>

  </div>
  <br/>

{% endblock %}

{% block moar_js %}

  <script src="{% static 'events.js' %}"></script>
{% endblock %}

