{% extends 'base.html' %}

{% block pagetitle %} Home {% endblock %}

{% block content %} 

  <div class='row'>
    <div class='col-md-12 col-sx-12'>
      <div class='col-md-6 col-sx-11'>

        <table id="board">

          <tbody>
            {% for row in board %}
              <tr>
                {% for val in row %}
                  <td class="{{ val.css_class }}"><div class="heightFix"></div></td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>

        </table>

      </div>
      <div class='col-md-4'>
        <div class='legend'>
          <h3>Legenda</h3>
          <table>
            <tbody>
              <tr>
                <td class="sq"><div class="heightFix"></div></td><td>casella normale</td>
              </tr>
              <tr>
                <td class="sq start"><div class="heightFix"></div></td><td>casella iniziale</td>
              </tr>
              <tr>
                <td class="sq doubleLetter"><div class="heightFix"></div></td><td>raddoppia lettera</td>
              </tr>
              <tr>
                <td class="sq tripleLetter"><div class="heightFix"></div></td><td>triplica lettera</td>
              </tr>
              <tr>
                <td class="sq doubleWord"><div class="heightFix"></div></td><td>raddoppia parola</td>
              </tr>
              <tr>
                <td class="sq tripleWord"><div class="heightFix"></div></td><td>triplica parola</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class='col-md-2'>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Benvenuti su PyScrabble2!</h4>
        </div>

        <div class="modal-body">
          <p>Questo &egrave; un porting in python di <a href='https://code.google.com/p/sharpscrabble/' target='_blank'>sharpscrabble</a> che &egrave; stato realizzato come progetto del corso di Intelligenza Artificiale 2012/2013.</br>
            Rispetto al progetto originario &egrave; stata aggiunta una strategia minimax a tre livelli, sia di ampiezza che di profondit&agrave; che usa una ricerca brute force.
          </p>

          <h2>Imposta i giocatori</h2>
          
          <form action='{% url 'game' %}' class="form-horizontal" role="form" id='new_game' method='post'>
            {% csrf_token %}

            <div class='col-md-6 col-xs-6 conf'>
              <h4>Com 1</h4>
              <div class="form-group">
                <h5>Strategie</h5>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="radio" name="strategy1" id="strategy1" value='0' checked > BF
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="strategy1" id="strategy1" value='1'> HC5
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="strategy1" id="strategy1" value='2'> HC15
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="strategy1" id="strategy1" value='3'> MM
                  </label>
                </div>
                <h5>Funzioni di utilit&agrave;</h5>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="radio" name="utility1" id="utility1" value='0' checked > ms
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="utility1" id="utility1" value='1'> sc
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="utility1" id="utility1" value='2'> op7
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="utility1" id="utility1" value='3'> opo5
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="utility1" id="utility1" value='4'> ubs
                  </label>
                </div>
              </div>
            </div>

            <div class='col-md-6 col-xs-6 conf'>
              <h4>Com 2</h4>
              <div class="form-group">
                <h5>Strategie</h5>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="radio" name="strategy2" id="strategy2" value='0' checked> BF
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="strategy2" id="strategy2" value='1'> HC5
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="strategy2" id="strategy2" value='2'> HC15
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="strategy2" id="strategy2" value='3'> MM
                  </label>
                </div>
              </div>
              <h5>Funzioni di utilit&agrave;</h5>
              <div class="form-group">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="radio" name="utility2" id="utility2" value='0' checked> ms
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="utility2" id="utility2" value='1'> sc
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="utility2" id="utility2" value='2'> op7
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="utility2" id="utility2" value='3'> opo5
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="utility2" id="utility2" value='4'> ubs
                  </label>
                </div>
              </div>
            </div>

            <div class='conf'>
              <div class="form-group">
                <h5>Mostra debug?</h5>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="radio" name="debug" id="debug" value='true'> si
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="debug" id="debug" value='false' checked> no
                  </label>
                </div>
              </div>
            </div>

            <h5>Legenda</h5>
            <dl class="dl-horizontal">
              <dt>BF</dt>
              <dd>brute force</dd>
              <dt>HC5</dt>
              <dd>hill climbing con 5 random restarts</dd>
              <dt>HC15</dt>
              <dd>hill climbing con 15 random restarts</dd>
              <dt>MM</dt>
              <dd>minimax a 3 livelli con brute force</dd>
              
              <dt>ms</dt>
              <dd>gioca mossa con maximum score</dd>
              <dt>sc</dt>
              <dd>tiene da parte le tessere pi&ugrave; comuni</dd>
              <dt>op7</dt>
              <dd>gioca solo mosse lunghe sette tessere</dd>
              <dt>opo5</dt>
              <dd>gioca solo mosse di lunghezza maggiore a 5</dd>
              <dt>ubs</dt>
              <dd>massimizza l'uso di caselle bonus</dd>
            </dl>
            
            <div class="form-group conf">
              <div class="">
                <button type="submit" class="btn btn-info">Via!</button>
              </div>
            </div>
          </form>

        </div>

        <!-- <div class="modal-footer"> -->
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button> -->
        <!-- </div> -->

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}
